.keyboard-container {
    padding: 12px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    backdrop-filter: blur(5px) saturate(105%);
    -webkit-backdrop-filter: blur(5px) saturate(105%);
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.row {
    display: flex;
}

.btn {
    margin: 0.35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 1rem;
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
    flex-grow: 1;
    border-radius: 12px;
}

.capsulLock {
    width: 120px;
    position: relative;
}

.capsulLock .light {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    right: 5px;
}

.delete,
.tabulation {
    width: 120px;
}

.special-btn {
    font-size: 0.8rem;
}

.space {
    width: 300px;
}

.theme {
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}